@using WebApplication2.Models
@model Worker

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js">
</script>
<form form asp-controller="Worker" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Mobile">(نام کاربری(موبایل</label>
        <input asp-for="Mobile" type="text" class="form-control" />
    </div>
    <div>

        <label asp-for="Password">رمز عبور</label>
        <input asp-for="Password" type="text" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <input type="submit" name="login" value="Login" />
    </form>