@{
    ViewData["Title"] = "درباره ما";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>سیستم خدماتی طوبی یک سیستم اتوماسیون خدماتی است که اطلاعات مشتریان،کارگران و سرویس را مدیریت کند. با استفاده از این سیستم نیاز کارگران از رفت و آمد های کاذب برای تحویل سفارش برطرف می شود. </p>
