@{
    ViewData["Title"] = "تماس با ما";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
   نازی آباد، خیابان بازار دوم<br />
     خیابان مدائن، جنب پاتن جامه<br />
    <abbr title="Phone">P:</abbr>
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
